<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ application.name }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('themes/nano/libs/pure/pure-min.css') }}">
            <link rel="stylesheet/less" href="{{ asset('themes/nano/styles.less') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('themes/nano/libs/less/less.min.js') }}"></script>
        {% endblock %}
    </body>
</html>