@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro);

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
}

pre, code {
    font-family: 'Source Code Pro', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

pre {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    padding: 10px;
    border-left: 3px solid #008CBA;
    background: #2B2F3E;
    color: #fff;
    margin-bottom: 10px;
}
